<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
   
   <bean scope="singleton" id="lprocess" class="com.ncu.Maven.LoanOrganisationSystem.LoanProcess" ></bean>
   <bean scope="prototype" id="customer" class="com.ncu.Maven.LoanOrganisationSystem.Customer">
   <property name="info"  ref="personInfoObj" />
   <property name="linfo"  ref="loanInfObj" />
   <property name="add"  ref="addObj" />
   <property name="negCustomer" >
   <list>
   <ref bean="negCus1"/>
   <ref bean="negCus2"/>
   </list>
    </property>  
   </bean> 
   
   
   <bean scope="prototype"   id="personInfoObj" class="com.ncu.Maven.LoanOrganisationSystem.Personal_info" />
   <bean scope="prototype" id="addObj" class="com.ncu.Maven.LoanOrganisationSystem.Address"/>
   <bean scope="prototype"  id="loanInfObj" class="com.ncu.Maven.LoanOrganisationSystem.Loan_info" />
   
   <bean id="negCus1" class="com.ncu.Maven.LoanOrganisationSystem.Customer">
   <property name="info" ref="perInfo1"/>
   </bean>
   
    <bean id="negCus2" class="com.ncu.Maven.LoanOrganisationSystem.Customer">
   <property name="info" ref="perInfo2"/>
   </bean>
   
   
   <bean id="perInfo1" class="com.ncu.Maven.LoanOrganisationSystem.Personal_info">
   <property name="full_name" value="Amber Heart"></property>
   <property name="phn" value="8923547691"></property>
   <property name="email" value="heart001@gmail.com"></property>
   <property name="panCard" value="ABCDE1234F"></property>
   <property name="aadharCard" value="3421563427183615"></property>
   </bean>
   
    <bean id="perInfo2" class="com.ncu.Maven.LoanOrganisationSystem.Personal_info">
   <property name="full_name" value="Emma Watson"></property>
   <property name="phn" value="9876453672"></property>
   <property name="email" value="watson011@gmail.com"></property>
   <property name="panCard" value="EDFAQ2421F"></property>
   <property name="aadharCard" value="5694274809174832"></property>
   </bean>
   
   
    </beans>
    